.micheg_progress
{
	background: #292929;
	border: 1px solid #111;	
	border-radius: 5px;	
	overflow: hidden;
	box-shadow: 0 0 5px #333;
	position: relative;
}

.micheg_progress span
{
	color: white;
	text-align: center;
	display: block;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* colors */

.micheg_progress div.red
{
	border-radius: 5px;	
	background-color: #FF0000;
	background: -webkit-linear-gradient(top, #FF0000, #CC0000); 
	background: -moz-linear-gradient(top, #FF0000, #CC0000); 
	background: -ms-linear-gradient(top, #FF0000, #CC0000); 
	background: -o-linear-gradient(top, #FF0000, #CC0000);
}


.micheg_progress div.green
{
	border-radius: 5px;	
	background-color: #009900;
	background: -webkit-linear-gradient(top, #00FF00, #009900); 
	background: -moz-linear-gradient(top, #00FF00, #009900); 
	background: -ms-linear-gradient(top, #00FF00, #009900); 
	background: -o-linear-gradient(top, #00FF00, #009900);
}

.micheg_progress div.blue
{
	border-radius: 5px;	
	background-color: #0000FF;
	background: -webkit-linear-gradient(top, #3300FF, #000099); 
	background: -moz-linear-gradient(top, #3300FF, #000099); 
	background: -ms-linear-gradient(top, #3300FF, #000099); 
	background: -o-linear-gradient(top, #3300FF, #000099);
}
